
.logo{
    width: 45px;
    height: 45px;
    border: 1px black solid;
}

#logo-text{
    background: linear-gradient(rgb(221, 161, 10),rgb(227, 249, 227), rgb(98, 10, 10));
    background-clip: text;
}