
.anime-text h1{
    font-size: 3vw;
    /* font-stretch: condensed; */
}

@media (max-width:750px){
    .anime-text h1{
        font-size: 2rem;
        text-align: center;

    }
}

@media (max-width:640px){
    .anime-text h1{
        font-size: 23px;
        margin-bottom: 10px;
        color: rgb(45, 84, 45);
    }
}