@media (max-width: 750px) {
  .left-home {
    display: none;
  }
  .right-home {
    width: 100%;
    height: 100vh;
  }
  .left-resume {
    display: flex;
    justify-content: center;
  }
  .tab-icons{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  #home {
    width: 100%;
  }
  .left-home {
    display: block;
    height: 0%;
    p{
      width: 100%;
    }
    img{
        margin-bottom: 20px;
    }
  }
  .right-home{
    width: 100%;
    height: 0%;
    .tab-icons{
      display: none;
      height: 0%;
    }
    span{
      font-style: oblique;
      font-size: 13px;
      font-stretch: condensed;
    }
  }
}
