@media (max-width: 750px) {
  .left-home {
    display: none;
  }
  .right-home {
    width: 100%;
  }
  .left-resume {
    display: flex;
    justify-content: center;
  }
  .tab-icons{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  #home {
    width: 100%;
    height: auto;
  }
  .left-home {
    display: block;
    p{
      width: 100%;
    }
    img{
        margin-bottom: 20px;
    }
  }
  .right-home {
    display: none;
  }
}
